.checkout-container {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 31.25rem;
	height: 46.5rem;
	z-index: 2;
	background: var(--color-primary);
	border: var(--border-black);
}
.checkout-container__content {
	width: 100%;	
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} 

.checkout-container-main-content {
	width: 100%;
	height: 37rem;
	display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
	align-items: center;
}

.checkout-container-top {
	display: flex;
	justify-content: center;
}

.checkout-container-bottom {
	display: flex;
}

.book__container--blurred {
	filter: blur(0.3rem);
	cursor: pointer;
	margin-top: var(--spacing-large);
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	width: 16rem;
	height: 22.875rem;
	border: var(--border-black);
	border-radius: var(--border-radius-sm-medium);
	padding: var(--spacing-small);
}

.header--blurred {
	filter: blur(0.3rem);
}

.exit-icon {
	cursor: pointer;
	height: 2.3rem;
	width: 2.3rem;
	position: absolute;
	top: 0;
	left: 0;
	margin: var(--spacing-small);
}
.checkout-headline {
	margin-top: 5px;
	text-align: center;
	font-size: var(--font-size-medium);
	color: var(--color-secondary);

}

.checkout-page__button {
	width: 12.5rem;
	height: 2.813rem;
	background: var(--color-button-primary);
	color: var(--color-primary);
	border-radius: var(--border-radius-medium);
	font-size: var(--font-size-small);
	position: absolute;
	bottom: var(--spacing-small);
	right: var(--spacing-small);
}

.total-price {
	margin: var(--spacing-small);
	font-size: var(--font-size-sm-medium);
}

.book__container-checkout {
	width: 25rem;
	height: 10rem;
	border: 2px solid black;
}
