@font-face {
	font-family: 'Playfair Display';
	src: url(../assets/PlayfairDisplay-Regular.woff2);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url(../assets/PlayfairDisplay-Bold.woff2);
	font-weight: 600;
	font-style: bold;
}

@font-face {
	font-family: 'Playfair Display';
	src: url(../assets/PlayfairDisplay-Italic.woff2);
	font-weight: 300;
	font-style: italic;
}