@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
	font-family: 'Playfair Display', serif;
	background: var(--color-primary);
}

/* Styling for top part of header */
.header-top {
	display: flex;
	justify-content: space-between;
	height: 7.5rem;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.header-top__container {
	width: 100%;
}

.header__headline {
	font-size: var(--font-size-headline);
	color: var(--color-secondary);
	flex-basis: 80%;
	text-align: center;
}

.hamburger-menu {
	flex-basis: 10%;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}

.shopping-bag-icon {
	flex-basis: 10%;
	width: 2.3rem;
	height: 2.3rem;
	cursor: pointer;
}
/* Styling for bottom part of header */
.header-bottom {
	display: flex;
	height: 2.5rem;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.search-container {
	position: relative;	
}

.search-field {
	display: inline-block;
	outline: none;
	width: 25rem;
	height: 2.5rem;
	text-align: center;
	border-radius: var(--border-radius-large);
	border: none;
	background: var(--color-search-bar);
}

.search-field--active {
	background: var(--color-accent-1);
	border: var(--border-brown);
}

.search-symbol {
	position: absolute;
	display: inline-block;
	width: 1.7rem;
	height: 1.7rem;
	left: 22rem;
	top: 6px;
}

/* General styling for the book containers */
.content-container {
	display: flex;
}

.main-container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: var(--spacing-large);
}


.main-container--pushed {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: var(--spacing-large);
}

.book__container {
	cursor: pointer;
	margin-top: var(--spacing-medium);
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	width: 16rem;
	height: 22.875rem;
	border: var(--border-black);
	border-radius: var(--border-radius-sm-medium);
	padding: var(--spacing-small);
	position: relative;
}

.book-1, .book-2, .book-3, .book-4, .book-5, 
.book-6, .book-7, .book-8, .book-9, .book-10, 
.book-11, .book-12, .book-13, .book-14, .book-15, 
.book-16, .book-17, .book-18, .book-19, .book-20 {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	align-items: center;
}

.book__info {
	width: 12.5rem;

}

.book__container:hover {
	box-shadow: 0 0 8px grey;
}

.book__image {
	width: 7.5rem;
	height: 9.375rem;
	object-fit: cover;
	border-radius: var(--border-radius-small);
}

.book__price {
	font-size: var(--font-size-sm-medium);
	font-weight: 600;
	display: flex;
}

.book__author {
	font-size: var(--font-size-base);
}

.book__title {
	font-size: var(--font-size-small);
}

.add__button {
	margin-top: 1rem;
	width: 12.5rem;
	height: 2.5rem;
	background: var(--color-button-primary);
	color: var(--color-primary);
	border-radius: var(--border-radius-medium);
	position: absolute;
	bottom: 1.5rem;
}

.add__button:hover {
	background: var(--color-button-secondary);
}

.add__button:active {
	background: var(--color-button-tertiary);
}


/* footer styling */
footer {
	padding: var(--spacing-medium);
	margin-top: 4rem;
	font-size: var(--font-size-small);
	text-align: center;
	background-color: var(--color-button-primary);
	color: var(--color-primary);
}
