html {
	font-family: 'Playfair Display';
	background: var(--color-primary);
}

.logo-image {
	width: 6.875rem;
	height: 6.875rem;
	border-radius: 100%;
	margin: var(--spacing-small);
}

.header__headline {
	font-size: var(--font-size-headline);
	color: var(--color-secondary);
}