html {
	font-family: 'Playfair Display', serif;
	background: var(--color-primary);
}

/* Styling for top part of header */
.header-top {
	display: flex;
	height: 9.375rem;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.header-top__container {
	width: 100%;
}


.header__headline {
	font-size: var(--font-size-headline);
	color: var(--color-secondary);
}



/* Styling for bottom part of header */
.header-bottom {
	display: flex;
	height: 5rem;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.header-bottom__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.hamburger-menu {
	flex-basis: 10%;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}

.search-field {
	outline: none;
	flex-basis: 30%;
	width: 20rem;
	height: 2.5rem;
	text-align: center;
	border-radius: var(--border-radius-large);
	border: none;
	background: var(--color-search-bar);
}

.search-field:hover {
	border: var(--border-green);
}

.search-field--active {
	background: var(--color-accent-1);
	border: var(--border-brown);
}


.shopping-bag-icon {
	flex-basis: 10%;
	width: 2.3rem;
	height: 2.3rem;
	cursor: pointer;
}

/* General styling for the book containers */
.content-container {
	display: flex;
}

.main-container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: var(--spacing-superlarge);
}


.main-container--pushed {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: var(--spacing-xxxlarge);
}

.book__container {
	cursor: pointer;
	margin-top: var(--spacing-xlarge);
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	width: 16rem;
	height: 22.875rem;
	border: var(--border-black);
	border-radius: var(--border-radius-sm-medium);
	padding: var(--spacing-small);
}

.book__info {
	width: 12.5rem;
}

.book__container:hover {
	box-shadow: 0 0 8px grey;
}

.book__image {
	width: 7.5rem;
	height: 9.375rem;
	object-fit: cover;
	border-radius: var(--border-radius-small);
}

.book__price {
	font-size: var(--font-size-sm-medium);
	font-weight: 600;
	display: flex;
}

.book__author {
	font-size: var(--font-size-base);
}

.book__title {
	font-size: var(--font-size-small);

}

.add__button {
	margin-top: 1rem;
	width: 12.5rem;
	height: 2.5rem;
	background: var(--color-button-primary);
	color: var(--color-primary);
	border-radius: var(--border-radius-medium);
}

.add__button:hover {
	background: var(--color-button-secondary);
}

.add__button:active {
	background: var(--color-button-tertiary);
}


/* footer styling */
footer {
	padding: var(--spacing-medium);
	margin-top: 4rem;
	font-size: var(--font-size-small);
	text-align: center;
	background-color: var(--color-button-primary);
	color: var(--color-primary);
}


/* Hamburger menu styling */ 
.hamburger__main-container {
	margin-top: var(--spacing-xlarge);
	margin-right: var(--spacing-xlarge);
	background: var(--color-primary);
	width: 18rem;
	height: 600px;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 8px grey;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	display: none;
}

.hamburger__content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	font-size: var(--font-size-small);
}

.sorting {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	width: 100%;
}

.sorting-content {
	display: flex;
}

.filtering {
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
	width: 100%;
}

.hamburger-headline {
	margin: 1rem auto;
	font-weight: 600;

}