.page-content {
	width: 100vw;
	height: 100vh;
	font-family: serif;
	background: var(--color-primary);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.page-headline {
	color: var(--color-secondary);
	font-size: var(--font-size-headline);
	font-weight: 400;
}

.page-shipping-info {
	color: var(--color-secondary);
	font-size: var(--font-size-medium);
	font-weight: 400;
}

.home-button {
	background: var(--color-home-page-normal);
	font-size: var(--font-size-small);
	width: 12.5rem;
	height: 2.813;
	border-radius: var(--border-radius-sm-medium);
}

.home-button:hover {
	background: var(--color-home-page-hover);
}

.home-button:active {
	background: var(--color-home-page-active);
}