:root {
	--font-leading-base: 1rem;

	--font-size-base: var(--font-leading-base);
	--font-size-small: 1.2rem;
	--font-size-sm-medium: 1.5rem;
	--font-size-medium: 2.3rem;
	--font-size-medium-large: 3.5rem;
	--font-size-headline: 5rem;

	
	--spacing-small: var(--font-leading-base);
	--spacing-medium: var(--font-size-sm-medium);
	--spacing-large: 3rem;
	--spacing-xlarge: 4rem;
	--spacing-xxlarge: 5rem;
	--spacing-xxxlarge: var(--font-size-headline);
	--spacing-superlarge: 10rem;
	

	--color-primary: #FFFEF7;
	--color-secondary: #556030; 

	--color-accent-1: white;
	--color-accent-2: #DDA15E;

	--color-button-primary: #606C38;
	--color-button-secondary: #7A8E3A;
	--color-button-tertiary: #283618;

	--color-back-button-hover: #E9EDC9;
	--color-back-button-active: #CCD5AE;

	--color-home-page-normal: #FFD6D6;
	--color-home-page-hover: #FF9494;
	--color-home-page-active: #CB5353;

	--color-search-bar: #EBEBEB;
	--color-back-button-cart-hover: #FFC1C1;

	--border-radius-small: 0.625rem;
	--border-radius-sm-medium: 0.938rem;
	--border-radius-medium: 1.563rem;
	--border-radius-large: 1.875rem;

	--border-black: 0.5px solid black;
	--border-green: 1px solid var(--color-secondary);
	--border-brown: 2px solid var(--color-accent-2);
}